body {
    font-family: 'Roboto', sans-serif; /* Police sans empattement pour le corps du texte */
    background-color: #222; /* Noir */
    color: #eee; /* Gris clair */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
    margin: 0;
}

#quiz-container {
    background-color: #333; /* Gris foncé */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre portée plus prononcée */
    width: 60%; /* Largeur légèrement augmentée */
    padding-bottom: 60px; /* Espace pour le pied de page */
}

h1 {
    text-align: center;
    font-size: 30px; /* Titre plus grand */
    font-family: 'Playfair Display', serif; /* Police avec empattement pour le titre */
    color: #d4af37; /* Or */
    margin-bottom: 20px;
}

button {
    width: 55%;
    padding: 12px; /* Padding augmenté */
    margin: 10px 0; /* Marge augmentée */
    background-color: #555; /* Gris foncé */
    color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold; /* Texte en gras */
}

button:hover {
    background-color: #777; /* Gris plus clair au survol */
}

#next-button {
    background-color: #d4af37; /* Or */
    color: #222; /* Texte noir sur fond or */
}

#next-button:hover {
    background-color: #b08d2e; /* Or plus foncé au survol */
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Même couleur que le quiz-container */
    padding: 10px;
    display: flex;
    justify-content: center; /* Centre les logos horizontalement */
    align-items: center; 
}
  
  .logos {
    display: flex;
    align-items: center; /* Aligner les logos verticalement */
  }
  
  .logos img {
    max-height: 60px; /* Ajustez la hauteur des logos */
    margin-left: 10px; /* Espace entre les logos */
  }
  
  #score {
    font-size: 18px;
    margin-right: 20px; /* Espace à droite du score */
    display: flex;
    justify-content: center; /* Centre les logos horizontalement */
    align-items: center; 
  }